.el-drawer.rtl{
  animation: rtl-drawer-out 0s;
}
.el-drawer__wrapper{
  left: auto;
  right: 0;
  width: 25%;
  @media(max-width: 768px){
    width: 80%;
  }
  &::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(165, 154, 150, 0.8);
    z-index: -1;
  }
}
.el-drawer{
  position: absolute;
  padding: 30px 20px;
  color: white;
  outline: none;
  background-color: transparent !important;
  header > span:focus {
    outline: none;
  };

  .el-drawer__header{
    color: white;
    padding-right:0
  }

  .el-drawer__body{
    padding: 0 20px;
    margin-bottom: 100px;
    box-sizing: border-box;
    overflow-y: auto;
    p{
      line-height: 2em;
      margin-bottom:20px;
      word-break:break-all;
      word-wrap:break-word;
      white-space: pre-wrap
    }

    .messengeBox{
      position: absolute;
      bottom: 20px;
      left: 25px;
      width: 85%;
    }

    .keyboard{
      width: 60px;
      height: 60px;
      border-radius: 35px;
      background-color: rgba(247, 245, 244, 0.8);
      display: flex;
      justify-content: center;
      position: absolute;
      right: 25px;
      bottom: 25px;
      cursor: pointer;
    }
  }
}