.aboutPage{
  font-family: 'Noto Serif TC';
  color:#4b403c;
  .el-row{
    padding: 120px 80px 100px 100px;
    display: flex;
    align-items: center;
    @media(max-width: 1200px){
      flex-direction: column;
      padding: 100px 30px 30px 30px;
      h5{
        margin: 0;
        margin-bottom: 20px;
      }
      p{
        margin: 0;
      }
      span{
        margin: 30px 0;
      }
    }
  }
  .el-col{
    height: 100%;
    img{
      width: 80%;
      @media(max-width: 1440px){
        width: 100%;
      }
    }
  }
}
.ourStory{
  h5{
    font-family: 'Prata', serif;
    font-style: italic;
  }
  p{
    font-size: 16px;
    margin: 20px 60px 0 0;
    line-height: 2em;
    text-indent: 2rem
  }
  span{
    float: right;
    margin: 20px 70px 0 0;
    font-style: italic;
  }
}
.joinUs{
  h5{
    font-family: 'Prata', serif;
    margin-left: 60px;
    font-style: italic;
  }
  p{
    font-size: 16px;
    margin: 20px 0 0 60px;
    line-height: 2em;
    text-indent: 2em
  }
  span{
    float: right;
    margin-top: 50px;
    font-style: italic;
  }
  .el-row{
    @media(max-width: 1200px){
      flex-direction: column-reverse;
    }
  }
}
.commitment{
  h5{
    font-family: 'Prata', serif;
    font-style: italic;
  }
  h3{
    margin-top: 40px;
  }
  ul{
    margin-top: 40px;
    margin-left: 20px;
  }
  li{
    font-size: 16px;
    margin: 0 40px 0 1em;
    line-height: 2em;
    list-style-type: decimal;
    list-style-position: outside;
    @media (max-width: 768px) {
      margin-right: 0;
    }
  }
  span{
    float: right;
    margin: 50px 60px 0 0;
    font-style: italic;
  }
}