.orderPage{
  padding: 100px 120px 50px 80px;
  @media(max-width: 768px){
    padding: 100px 30px 30px 30px;
  }
  .orderId{
    margin-left: 2em;
    margin-top: 20px;
    word-wrap:break-word;
    word-break:break-all;
    @media(max-width: 768px){
      margin-left: 0;
    }
  }
  .products{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    @media(max-width: 768px){
      padding-bottom: 0;
    }
    .product{
      width: 50%;
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;
      @media(max-width: 1440px){
        width: 100%;
      }
    }
    .el-image{
      background-color: #f7f5f4;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      img{
        width: 60px;
        transform: translateY(10px);
      }
      @media (max-width: 768px) {
        width: 60px;
        height: 60px;
        img{
          width: 50px;
        }
      }
    }
    .productTitle{
      display: flex;
      margin-left: 30px;
      @media (max-width: 768px) {
        margin-left: 10px;
      }
      h3{
        font-size: 22px;
        color: #4b403c;
        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
      span{
        width: 30px;
        height: 30px;
        border-bottom: 1px solid #000;
        transform:rotate(-45deg) translateY(-30%);
        @media (max-width: 768px) {
          width: 20px;
          height: 20px;
        }
      }
      h4{
        color: #a59a96;
        margin-left: 10px;
        transform: translateY(10px);
        @media (max-width: 768px) {
          transform: translateY(0);
        }
      }
      h5{
        color: #4b403c;
        font-size: 16px;
        margin-left: 30px;
        transform: translateY(10px);
        @media (max-width: 768px) {
          margin-left: 10px;
          transform: translateY(0);
        }
      }
    }
  }
  .orderOthers{
    p{
      color: #4b403c;
      margin: 20px 0;
    }
  }
}