.frontendProductsPage{
  padding: 100px 130px 50px 100px;
  position: relative;
  @media(max-width: 1440px){
    padding-right: 80px;
    padding-left: 80px;
  }
  @media(max-width: 768px){
    padding: 0 50px 50px 50px;
  }
  .categoryBtn{
    @media(max-width: 768px){
      padding-top: 100px;
    }
    .category{
      color:#4b403c;
      font-size: 20px;
      font-weight: bolder;
    }
  }
  .smallTitle{
    font-family: 'Prata';
    color: #a59a96;
    position: absolute;
    top: 40px;
    right: 100px;
    @media(max-width: 768px){
      display: none;
    }
  }
  .head{
    font-family: 'Prata';
    color: #a59a96;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 120px 0;
    @media(max-width: 768px){
      flex-direction: column;
      margin-bottom: 90px;
    }
    select{
      color: #a59a96;
      border-radius: 16px;
      padding: 5px;
      font-size: 18px;
      border: solid 1px #d6cbc7;
      background-color: white;
      outline: none;
      font-family: "Noto Sans TC";
      @media(max-width: 768px){
        position: absolute;
        top: 40px;
        right: 20px;
        font-size: 16px;
        padding: 3px;
        border-radius: 10px;
      }
    }
    option{
      border: 1px solid !important;
    }
  }
  .productBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media(max-width: 1200px){
      flex-direction: column;
      align-items: center;
    }
    .fade-enter-active{
      transition: opacity 3s;
    }
    .fade-enter{
      opacity: 0;
    }
    .product{
      width: 27%;
      display: flex;
      justify-content: center;
      &:last-child:nth-child(3n - 1){
        // 最後一行如果不滿三個且只有兩個時要調整位置
        margin-right: 36%;
      }
      @media(max-width: 768px){
        width: 100%;
        &:last-child:nth-child(3n - 1){
          margin-right: 0;
        }
      }
      .imgCircle{
        cursor: pointer;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        background-color: #a59a96;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &:hover{
          transform: scale(1.01);
        }
        @media(max-width: 1440px){
          width: 250px;
          height: 250px;
        }
        @media(max-width: 1280px){
          width: 230px;
          height: 230px;
        }
        @media(max-width: 1200px){
          width: 280px;
          height: 280px;
        }
        @media(max-width: 768px){
          width: 250px;
          height: 250px;
        }
        &::after{
          content: "";
          width: 280px;
          height: 280px;
          border-radius: 50%;
          background-color: rgba(214, 203, 199, 0.2);
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: -1;
          @media(max-width: 1440px){
            width: 250px;
            height: 250px;
          }
          @media(max-width: 1280px){
            width: 230px;
            height: 230px;
          }
          @media(max-width: 1200px){
            width: 280px;
            height: 280px;
          }
          @media(max-width: 768px){
            width: 250px;
            height: 250px;
          }
        }
        .cartIcon{
          width: 32px;
          height: 32px;
          position: absolute;
          border-radius: 50%;
          padding: 3px;
          right: 8px;
          top: 44%;
          background-color: #e7e2e1;
          cursor: pointer;
        }
        .productImg{
          width: 72%;
          height: 80%;
          border-radius: 40%;
        }
      }
      .productInformation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 0 110px 0;
        img{
          position: absolute;
        }
      }
    }
  }
  .el-pagination{
    text-align: center;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: #a59a96;
    border-radius: 50%;
  }
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    color: #a59a96;
    background-color: white;
  }
}